html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#project {
  width: 90vw !important;
  height: auto !important;

  aspect-ratio: 4/3;
  margin: auto;
}

svg text {
  font-family: Arial, Helvetica, "Liberation Sans", "DejaVu Sans", sans-serif !important;
}
